extends layout 

block content 
    div(class="container mt-4 bg-dark text-white mb-2 p-5 w-75")    
        form(action="" class='m-auto w-75' method='POST')
            h3(class='text-center') #{title}
            hr
            div(class='input-group mb-3')
                span(class='input-group-text bg-dark text-white') 
                    i(class='fa-solid fa-user')
                input(type='text' class='form-control' name='username' id='username' placeholder='unique username..')
            div(class='input-group mb-3')
                span(class='input-group-text bg-dark text-white') 
                    i(class='fa-solid fa-key')
                input(type='password' class='form-control' name='password' id='password' placeholder='password..') 
            button(type="submit" class='btn btn-secondary w-100') Submit 
    div(class='container')  
            p(class='text-center') If you dont have an account Register
            a(href='/register' class='btn btn-warning m-auto d-block w-50') Register
