extends layout 
block content 
    div(class='container w-50 bg-danger text-dark rounded mt-5 p-3')
        h1 #{title}
        p Your credential info is wrong tray again
        form(action="", method="post")     
            button(type='submit' name='try_again' value=value  class='btn btn-secondary d-block m-auto') Try Again      
